//CSS template

body, header, nav, main, footer, h1, div, img, article, section, aside {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

.txtCenter {
  text-align: center;
}

.maxWidth {
  width: 100%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%
}


/* mobile styles */



/* tablet styles */
@media screen and (min-width: 480px) {

}

/* Desktop styles */
@media screen and (min-width: 767px) {

}
